{{!-- 
<section>
    {{#if posts.length}}
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        {{> dashboard-details post}}
    {{/each}}
    {{/if}}
</section> --}}

<button type="submit" class="btn">
    <a class="link" href="/dashboard">+ New Post</a>
</button>

<script src="/js/add-post.js"></script>